[user]
    name = Dmitrij Petters
    email = Dpetters91@gmail.com
[core]
	autocrlf = input
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[difftool]
    prompt = false

[credential]
	helper = cache
[push]
	default = matching
