[user]
	name = Dmitrij Petters
	email = dpetters@users.noreply.github.com
[core]
	autocrlf = input
[diff]
    tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
    prompt = false
[credential]
	helper = cache
[push]
	default = current
[pull]
	rebase = false
